
<% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited you're info from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
<% end %>

<link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/css/themify-icons.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/css/flexslider.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/css/lightbox.min.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/css/ytplayer.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/css/theme.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/css/theme-navy.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/css/custom.css" rel="stylesheet" type="text/css" media="all" />
        <!-- <link href="../css/custom.css" rel="stylesheet" type="text/css" media="all" /> -->
        <link href='https://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'>
  
  <link href='https://fonts.googleapis.com/css?family=Michroma' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>




<%= render partial: "partials/main_nav" %>


<!-- <div class="left_column"> -->
  <!-- <div class="feed_border">
    <% flash.each do |key, value| %>
    <h4><%= value %></h4>
    <% end %>
      <h4 class="left">theFOOTY™app</h4>
      <h2 class = "left">SIGN UP FOR FREE!</h2>
    </div> -->

<div class="main-container">
            <section class="cover fullscreen image-bg overlay">



                <div class="background-image-holder">
                    <img alt="image" class="background-image" src="https://res.cloudinary.com/mckshreder/image/upload/v1447575026/IMG_3805_qk04m7.png" />
                </div>
                <div class="container v-align-transform">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <div class="feature bordered text-center mb0">
               
                                <!-- <h4 class="uppercase mb0 mt16 pb8">Update Account Info</h4> -->
                                <!-- <p class="mb0">100% Free Fot Everyone</p> -->

                                
                                <%= form_for(@user, url: update_user_path, html: { multipart: true }) do |f| %>
   
    
                                    <div class="form_group">
                                    <h5 class="center">UPDATE YOUR FOOTY ACCOUNT</h5>
                                    <%= f.text_field :name, :placeholder => 'NAME', class: "form-control"%>
                                    </div>
                                    
                                    <div class="form_group">
                                    <%= f.email_field :email, :placeholder => 'EMAIL', class: "form-control", type: "text"%>
                                    </div>
                                    
                                    <div class="form_group"> 
                                    <%= f.password_field :password, :placeholder => 'PASSWORD', class: "form-control" %>
                                    </div>
                                    <div class="form_group">
                                    <%= f.password_field :password_confirmation, :placeholder => 'CONFIRM PASSWORD', class: "form-control" %>
                                    </div>

                                    <!-- <div class="form_group">
                                    <%= f.text_field :age, :placeholder => 'YOUR AGE', class: "form-control"%>
                                    </div> -->

                                    <div class="form_group">
                                    <%= f.text_field :location, :placeholder => 'YOUR CITY AND STATE', class: "form-control" %>
                                    </div>

                                    <div class="form_group">
                                    <%= f.text_area :bio, :placeholder => 'YOUR BIO', class: "form-control"%>
                                    </div>

                                    <div class="form-group">
                                    <%= f.hidden_field(:image_cache)%>
                                    <%= f.file_field(:image, class: "form-control", :html => { :multiple => true }, id: "exampleInputFile")%>
                                    <!-- <p class="left">Upload Your Profile Photo<small>(Recommended.)</p> -->
                                    </div>

                                    <div class="actions">
                                    <%= f.submit "UPDATE ACCOUNT INFO", class: "submit-button-create, btn, large_button"%>
                                    </div>
                                <% end %>
                                                            
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--end of row-->
                                                </div>
                                                <!--end of container-->
                                            </section>

</div>


   
    

<!-- this is the user profile photo container  for right column-->
        

<!-- this is the "sign in or sign up forum" -->



    <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/flickr.js"></script>
        <script src="/js/flexslider.min.js"></script>
        <script src="/js/lightbox.min.js"></script>
        <script src="/js/masonry.min.js"></script>
        <script src="/js/twitterfetcher.min.js"></script>
        <script src="/js/spectragram.min.js"></script>
        <script src="/js/ytplayer.min.js"></script>
        <script src="/js/countdown.min.js"></script>
        <script src="/js/smooth-scroll.min.js"></script>
        <script src="/js/parallax.js"></script>
        <script src="/js/scripts.js"></script>

