
<% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited you're info from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
<% end %>

    
 
<div class="left_column">

<%= form_for(@user, url: update_user_path, html: { multipart: true }) do |f| %>
   
    
    <div class="form_group">
    <h5 class="center">UPDATE YOUR FOOTY ACCOUNT</h5>
    <%= f.text_field :name, :placeholder => @user.name, class: "form-control"%>
    </div>
    
    <div class="form_group">
    <%= f.email_field :email, :placeholder => @user.email, class: "form-control" %>
    </div>
    
    <div class="form_group"> 
    <%= f.password_field :password, :placeholder => 'CURRENT OR NEW PASSWORD', class: "form-control" %>
    </div>
    <div class="form_group">
    <%= f.password_field :password_confirmation, :placeholder => 'CONFIRM PASSWORD', class: "form-control" %>
    </div>

    <div class="form_group">
    <%= f.text_field :age, :placeholder => @user.age, class: "form-control"%>
    </div>

    <div class="form_group">
    <%= f.text_field :location, :placeholder => @user.location, class: "form-control" %>
    </div>

    <div class="form_group">
    <%= f.text_area :bio, :placeholder => @user.bio, class: "form-control"%>
    </div>

    <div class="form-group">
    <%= f.hidden_field(:image_cache)%>
    <%= f.file_field(:image, class: "form-control", :html => { :multiple => true }, id: "exampleInputFile")%>
    <p class="left">Upload Your Profile Photo<small>(Recommended.)</p>
    </div>

    <div class="actions">
    <%= f.submit "CREATE ACCOUNT", class: "submit-button-create, large_button"%>
    </div>
<% end %>

</div>


<!-- this is the user profile photo container  for right column-->
        
<div class="right_column">
<!-- this is the "sign in or sign up forum" -->
<% if current_user %>
    

        


    <div class="feed_border">
      <hr class = "small_line_break">
        <h5 class="center">YOUR FOOTY™ DASHBOARD</h5>
      </div>
    

<% else %>

<div class="right_column">
    <div id="topright_nav">
        <h2 class="center">Hello, Sign in</h2>
        <h5 class="center">your footy™ account.</h5>

        <%= link_to "Log in", new_user_path, class: "submit-button, large_button" %>
    </div>
    <h4 class="center">theFOOTY™app</h4>
</div>
<% end %>

    

    <!-- <div class="home_info"> 
        <ul class="text_list">
            <h3>What to do...</h3>
            <li>
                <p>#1. Film and edit a fun video or a "Sponsor me clip" with your best footy.</p>
            </li>
            <li>
                <p>#2. Paste the YouTube url link into the form.</p>
            </li>
            <li>
                <p>#3. Complete all parts of the form.</p>
            </li>
            <li>
                <p>#4. Share your footy with the company of your choice!</p>
            </li>
        </ul>

</div> -->
</div>

