<%= render partial: "partials/main_nav" %>
  

<script>
//= require jquery.turbolinks

var map;

function initialize() {
  var mapOptions = {
    zoom: 10,
    // mapTypeId: google.maps.MapTypeId.HYBRID
  };
  // google.maps,Map creates map on div canvas
  var map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);

  // this creates a location of the current users location 
	if(navigator.geolocation) {
	    navigator.geolocation.getCurrentPosition(function(position) {
	      	// this assigns the current users coordinats as pos
	      	var pos = new google.maps.LatLng(position.coords.latitude,
	                                       position.coords.longitude);
	      	// below creates the info window marker for current user location
	      	var infowindow = new google.maps.InfoWindow({
		        // must use map
		        map: map,
		        // assigns the window to show on map at current user location
		        position: pos,
		        content: 'your current location'
	      	});
	      	// brings the users map to center their location
	    	map.setCenter(pos);
	 	});

	 	handleNoGeolocation(true);
	}
	else {
    // Browser doesn't support Geolocation
    	handleNoGeolocation(false);
  	}
  	
  	// variable for all markers in post.all. We extract the data from the <select hidden, id = "marker_data" multiple> tag. data is ["123.1,-76.928"] Jquery
  	var markers = $("#marker_data").val();

	for (var i = 0; i < markers.length; i++) {
		// this splits data into two seperate strings of an array. Erase ","
		var coordinates = markers[i].split(",");
		// Number takes array turns strings into numbers for google pos variable
		var pos = new google.maps.LatLng(Number(coordinates[0]),Number(coordinates[1]));
	      console.log(pos);

	    
      	var contentString = '<h4>Info for this post coming soon...</h4>';

	  var infowindow = new google.maps.InfoWindow({
	      content: contentString
	  });
		
	    // this creates the marker in the user view
		var marker = new google.maps.Marker({
	      animation: google.maps.Animation.DROP,
	      position: pos,
	      map: map
	  
	  	});

		// this creates zoom when user clicks marker
        google.maps.event.addListener(marker, 'click', function() {
	     map.setZoom(10);
	     infowindow.open(map,marker);
	     map.setCenter(marker.getPosition());
	    });

	}
}

function handleNoGeolocation(errorFlag) {
  if (errorFlag) {
    var content = 'Error: The Geolocation service failed.';
  } else {
    var content = 'Error: Your browser doesn\'t support geolocation.';
  }
}

// jquery call to initalize () on load basically
$(document).ready(function() {
	initialize();
});
</script>

<!-- this contains the map on the view -->
<% flash.each do |key, value| %>
    <h4><%= value %></h4>
<% end %>



        <div class="main-container">
            
           <!--  <section class="page-title page-title-4">
                <div class="container pd0">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="uppercase mb0">The Footy App</h3>
                        </div>
                        <div class="col-md-6 text-right">
                            <ol class="breadcrumb breadcrumb-2">
                                <li>
                                    <a href="index.html">Skate</a>
                                </li>
                                <li>
                                    <a href="#">Film</a>
                                </li>
                                <li class="active">Share</li>
                            </ol>
                        </div>
                    </div>
                    end of row
                </div>
                end of container
            </section> -->
            
            

            <section class="bg-secondary pt0">
                <div class="container p0">
                
                        <section class="page-title page-title-3 image-bg overlay mb0 mbs5">
                            <div class="background-image-holder">
                                <img alt="Background Image" class="background-image" src="http://res.cloudinary.com/mckshreder/image/upload/q_100/v1448362449/kevin_smith_2_150px-3951_h7gv2s.jpg" />
                            </div>
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12 text-center">
                                        <h2 class="uppercase mb0">Footy</h2>
                                        <p class="lead mb0">Skate, Film, Share</p>
                                    </div>
                                </div>
                                
                            </div>
                            <!--end of container-->
                              <ol class="breadcrumb breadcrumb-2">
                                  <li>
                                      <a href="#">Home</a>
                                  </li>
                                  <li>
                                      <a href="#">Footy</a>
                                  </li>
                                  <li class="active">All Footy</li>
                              </ol>

                        </section>
                  

                    <div class="col-md-9 pt8">

                    <!-- <div class="row">
                        <div class="col-md-4 col-sm-4 masonry col-xs-12">
                            <div class="select-option">
                                <i class="ti-angle-down"></i>
                                <select>
                                    <option selected value="Default">Sort By</option>
                                    <option value="Small">Highest Price</option>
                                    <option value="Medium">Lowest Price</option>
                                    <option value="Larger">Newest Items</option>
                                </select>
                            </div>
                            end select
                        </div>
                        <div class="col-md-8 masonry text-right">
                            <span class="input-lh">Displaying 8 of 8 results</span>
                        </div>
                    </div>
                end of row

                    <div class="row pb0">
                      <div class="col-sm-12 pb0">
                          <br>
                      </div>
                    </div> -->


                        <div class="row masonry-loader">
                            <div class="col-sm-12 text-center">
                                <div class="spinner"></div>
                            </div>
                        </div>
                        <!-- <section class="cover fullscreen image-slider slider-arrow-controls controls-inside parallax mb16">
                            <ul class="slides">
                                <li class="overlay image-bg bg-light">
                                    <div class="background-image-holder">
                                        <img alt="image" class="background-image" src="../img/intro1.jpg" />
                                    </div>
                                    <div class="container v-align-transform">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-8">
                                                <h1 class="mb40 mb-xs-16 large">Welcome to theFOOTY™app</h1>
                                                <h6 class="uppercase mb16">A complete skateboard social network</h6>
                                                <p class="lead mb40">
                                                    Publish beautiful, contemporary skateboarding articles in just moments
                                                    <br />with Foundry Post Builder.
                                                </p>
                                                <a class="btn btn-lg" href="/posts">Start Exploring</a>
                                            </div>
                                        </div>
                                        end of row
                                    </div>
                                    end of container
                                </li>
                            </ul>
                        </section> -->

                        

                        

                        <div class="row masonry masonryFlyIn mb40">
                        
                            
                            <!--end of snippet-->

<% if @posts.count > 0 %>
    <% @posts.each do |post| %>


                            <div class="col-sm-6 post-snippet masonry-item p0 mb5">
                                
                                <%= cl_video_tag(post.video.to_s.split("/upload/").last.split(".").first, :class => "mb_16 pb0", :video_codec=>"h264", :width=>493, :crop=>:scale, :controls => true, :fallback_content => "Your browser does not support HTML5 video tags")%>
                                <div class="inner border-sm">
                                    <a href="#">
                                        <h5 class="mb8"><%= link_to "'#{post.title}'", post_path(id: post.id), :class => "title-link, blue" %></h5>
                                         <i class="ti-user"></i>
                                        <span>Posted by
                                            <%= link_to post.user.name ,  user_profile_path(post.user_id),:class => "option_link"%>
                                        </span>
                                        <!-- <span class="glyphicon glyphicon-time" aria-hidden="false">
                                        </span> -->
                                        <span class="mb16"><%= "  " + (remove_unwanted_words distance_of_time_in_words(Time.now, post.updated_at)) + " ago"  %></span>
                                    </a>
                                     
                                        
                                    <hr class="mb5">
                                    <p class="mb5"> <%= post.body %>
                                       <!--  Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo. -->
                                    </p>
                                    

                                    
                                            <!--<%= link_to "Read More",  user_profile_path(post.user_id),:class => "btn btn-sm" %>-->
                                            <%= link_to "Read More", post_path(id: post.id), :class => "btn btn-sm" %>

                                      
                                      <!--<%= link_to "#{post.user.name.split.first}'s "+"Profile",  user_profile_path(post.user_id), :class => "option_link" %>
                                      <%= "  &  "%>
                                      <%= link_to "Full Video", post_path(id: post.id), :class => "option_link" %>-->
                                    
                                    <ul class="tags pull-right">
                                        <li>
                                            <a class="btn btn-sm btn-icon" href="#">
                                                <i class="ti-twitter-alt"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="btn btn-sm btn-icon" href="#">
                                                <i class="ti-facebook"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                                <% end %>

<% else %>
    <h2>No Posts Exist</h2>
<% end %>
<% if @posts.count > 0 %>
    <% @posts.each do |post| %>


                            <div class="col-sm-6 post-snippet masonry-item p0 mb5">
                                
                                <%= cl_video_tag(post.video.to_s.split("/upload/").last.split(".").first, :class => "mb_16 pb0", :video_codec=>"h264", :width=>493, :crop=>:scale, :controls => true, :fallback_content => "Your browser does not support HTML5 video tags")%>
                                <div class="inner border-sm">
                                    <a href="#">
                                        <h5 class="mb8"><%= link_to "'#{post.title}'", post_path(id: post.id), :class => "title-link, blue" %></h5>
                                         <i class="ti-user"></i>
                                        <span>Posted by
                                            <%= link_to post.user.name ,  user_profile_path(post.user_id),:class => "option_link"%>
                                        </span>
                                        <!-- <span class="glyphicon glyphicon-time" aria-hidden="false">
                                        </span> -->
                                        <span class="mb16"><%= "  " + (remove_unwanted_words distance_of_time_in_words(Time.now, post.updated_at)) + " ago"  %></span>
                                    </a>
                                     
                                        
                                    <hr class="mb5">
                                    <p class="mb5"> <%= post.body %>
                                       <!--  Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo. -->
                                    </p>
                                    

                                    
                                            <!--<%= link_to "Read More",  user_profile_path(post.user_id),:class => "btn btn-sm" %>-->
                                            <%= link_to "Read More", post_path(id: post.id), :class => "btn btn-sm" %>

                                      
                                      <!--<%= link_to "#{post.user.name.split.first}'s "+"Profile",  user_profile_path(post.user_id), :class => "option_link" %>
                                      <%= "  &  "%>
                                      <%= link_to "Full Video", post_path(id: post.id), :class => "option_link" %>-->
                                    
                                    <ul class="tags pull-right">
                                        <li>
                                            <a class="btn btn-sm btn-icon" href="#">
                                                <i class="ti-twitter-alt"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="btn btn-sm btn-icon" href="#">
                                                <i class="ti-facebook"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                                <% end %>

<% else %>
    <h2>No Posts Exist</h2>
<% end %>
                           

                            <!--end of snippet-->
                        </div>
                        <!--end of row-->
                        <div class="row">
                            <div class="text-center">
                                <ul class="pagination">
                                    <li>
                                        <a href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li class="active">
                                        <a href="#">1</a>
                                    </li>
                                    <li>
                                        <a href="#">2</a>
                                    </li>
                                    <li>
                                        <a href="#">3</a>
                                    </li>
                                    <li>
                                        <a href="#">4</a>
                                    </li>
                                    <li>
                                        <a href="#">5</a>
                                    </li>
                                    <li>
                                        <a href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--end of row-->
                    </div>
                    <!--end of 9 col-->
<div class="col-md-3 hidden-sm pt8">
<% if current_user %>

    <!-- <ul id="topright_nav"> -->
    <!-- <li> -->
    <!-- <i class="icon-sm ti-user"></i> -->
     <!-- <%= cl_image_tag(current_user.image,:width => 50, :height => 50, :crop => :fill, class: "user_profile_photo_tag") %> -->
          <small>Hello, </small>
            
            <%= link_to "#{current_user.name}", user_profile_path(current_user), class: "title pb8" %>
                      
            <h5 class="title mb0 pt0">YOUR FOOTY™ DASHBOARD</h5>
            
                                <hr class="mb8">

             <small>(select an option)</small>
          
          <!-- <span class="glyphicon glyphicon-cog" aria-hidden="true">
          </span -->
          
          <!-- <ul> 
            <li>
                 <a><%= link_to "Your Profile", user_profile_path(current_user)%>
                 </a>
            </li> 
            <li>
                <a><%= link_to "Edit Account", edit_users_path(current_user) %>
                </a>
            </li>  
            <li>
                <a><%= link_to "Log out", destroy_session_path %>
                </a>
            </li>  
          </ul> -->
        <!-- </li> -->
    <!-- </ul> -->
    
    <div class="feed_border pt8">
      <!-- <hr class = "small_line_break"> -->
        
    <% if current_user %>
    <div class="widget">
                                <!-- <h6 class="title">Tags</h6> -->
                                <ul class="tags">
                                    <li>
                                        <%= link_to "POST FOOTY", new_post_path, class: "btn btn-sm"  %>
                                    </li>
                                    <li>
                                      <%= link_to "CREATE EVENT", new_event_path, class: "btn btn-sm"  %>

                                    </li>
                                    <li>
                                         <%= link_to "EDIT ACCOUNT", edit_users_path(current_user), class: "btn btn-sm"  %>
                                    </li>
                                    <li>
                                        <%= link_to "LOG OUT", destroy_session_path, class: "btn btn-sm"  %>
                                    </li>
                                    <!-- <li>
                                        <%= link_to "Your Profile", user_profile_path(current_user), class: "btn btn-sm"%>
                                    </li> -->
                                   <!--  <li>
                                        <a class="btn btn-sm" href="#">Coffee</a>
                                    </li>
                                    <li>
                                        <a class="btn btn-sm" href="#">Melons</a>
                                    </li> -->
                                </ul>
                            </div>
                            <!--end of widget-->

      <!--<%= link_to "POST FOOTY", new_post_path, class: "right_column_button"  %>
      <%= link_to "CREATE EVENT", new_event_path, class: "right_column_button"  %>
      <%= link_to "EDIT ACCOUNT", edit_users_path(current_user), class: "right_column_button"  %>
      <%= link_to "LOG OUT", destroy_session_path, class: "right_column_button"  %>-->
    <% else %>
    <% end %>
    </div>

<% else %>

  <div class="feed_border">
        <h5 class="text-left mb8">theFOOTY™app</h5>
        <hr class="">
        <h5 class="text-left pb0 mb8">ALREADY A MEMBER?</h5>
    </div>
    
    <div class = "feed_border">
        <h6 class="center pb0">SIGN IN TO YOUR FOOTY ACCOUNT</h6>
    <%= form_for @user, url: create_session_path do |f| %>

        <div class="form_group">
        <%= f.email_field :email, :placeholder => 'EMAIL', class: "form-control", type: "text" %>
        </div>
    
        <div class="form_group"> 
        <%= f.password_field :password, :placeholder => 'PASSWORD', class: "form-control" %>
        </div>
    
        <%= f.submit "LOG IN", class: "submit-button-create, large_button" %>
    <% end %>
    <h5 class="center">NOT A MEMBER...?</h5>
    <%= link_to "CREATE YOUR ACCOUNT", new_user_path, class: "btn btn-large"  %>
    </div>

<% end %>



              
              <div class="widget">
                  <h6 class="title">About The App</h6>
                  <hr>
                  <p>
                      Sed ut perspiciatis unde omnis iste natus error sit voluptatem antium doloremque laudantium, totam rem aperiam, eaque ipsa quae.
                  </p>
              </div>
              <!--end of widget-->
              
              <div class="widget">
                  <h6 class="title">Search All</h6>
                  <hr>
                  <form>
                      <input class="mb0" type="text" placeholder="Type Here" />
                  </form>
              </div>
              <!--end of widget-->

              <!-- <div class="widget">
               <h6 class="title">Search by map</h6>
                            <hr>
              <div id="map-canvas">
                </div>
              </div> -->
                        <!--end of widget-->
                        
                            <div class="widget">
                                <h6 class="title">Recent Posts</h6>
                                <hr>
                                <ul class="link-list recent-posts">
                                
<% @posts.each do |post| %>

                                    <li>
                                      <%= link_to "#{post.title}" ,  user_profile_path(post.user_id)%>
                                        <span class="glyphicon glyphicon-time" aria-hidden="false">
                                        </span>
                                      <span class="date">
                                      <%= "  " + (remove_unwanted_words distance_of_time_in_words(Time.now, post.updated_at)) + " ago" %>
                                      </span>
                                    
                                          <%= link_to "Full Video", post_path(id: post.id), :class => "option_link" %>
                                    
                                    </li>
                                   

<% end %>
                                </ul>
                            </div>
                            <!--end of widget-->
                        

                        
                       <!--  <div class="widget">
                            <h6 class="title">Blog Categories</h6>
                            <hr>
                            <ul class="link-list">
                                <li>
                                    <a href="#">Lifestyle</a>
                                </li>
                                <li>
                                    <a href="#">Web Design</a>
                                </li>
                                <li>
                                    <a href="#">Photography</a>
                                </li>
                                <li>
                                    <a href="#">Freelance</a>
                                </li>
                            </ul>
                        </div> -->
                        <!--end of widget-->
                       
                        <div class="widget">
                                <h6 class="title"> Freatured Instagram</h6>
                                <hr>
                                <div class="instafeed" data-user-name="breakfastlunchandpinners">
                                    <ul></ul>
                                </div>
                            </div>
                            <!--end of widget-->
                    </div>
                    <!--end of sidebar-->
                </div>
                <!--end of container-->
            </section>






          
        </div>
        <script src="../js/jquery.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>
        <script src="../js/flickr.js"></script>
        <script src="../js/flexslider.min.js"></script>
        <script src="../js/lightbox.min.js"></script>
        <script src="../js/masonry.min.js"></script>
        <script src="../js/twitterfetcher.min.js"></script>
        <script src="../js/spectragram.min.js"></script>
        <script src="../js/ytplayer.min.js"></script>
        <script src="../js/countdown.min.js"></script>
        <script src="../js/smooth-scroll.min.js"></script>
        <script src="../js/parallax.js"></script>
        <script src="../js/scripts.js"></script>









<!-- this creates ruby data in the view that can be accessed by JS if the <script> is on same exact file. multiple allows JS to know there is multple data  -->
<select hidden, id = "marker_data" multiple>
<% @posts.each do |post| %>
	<option selected = "true" value = "<%= post.latitude%>,<%= post.longitude%>, <%= post.title%>, <=% post.id %>">
	</option>	
<% end %>
</select>