<% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
            <li><%= message %>
            </li>
        <% end %>
      </ul>
    </div>
<% end %>


<div class="left_column">
  <div class="feed_border">
    <% flash.each do |key, value| %>
    <h4><%= value %></h4>
    <% end %>
      <h4 class="left">theFOOTY™app</h4>
      <h2 class = "left">SIGN UP FOR FREE!</h2>
    </div>
  
<div class="signup_form"> 
    <ul class="text_list">



<%= form_for @user, :html => { :multipart => true }, :method => :post do |f|  %>
   
    
    <div class="form_group">
    <h5 class="center">CREATE YOUR FOOTY ACCOUNT</h5>
    <%= f.text_field :name, :placeholder => 'NAME', class: "form-control"%>
    </div>
    
    <div class="form_group">
    <%= f.email_field :email, :placeholder => 'EMAIL', class: "form-control" %>
    </div>
    
    <div class="form_group"> 
    <%= f.password_field :password, :placeholder => 'PASSWORD', class: "form-control" %>
    </div>
    <div class="form_group">
    <%= f.password_field :password_confirmation, :placeholder => 'CONFIRM NEW PASSWORD', class: "form-control" %>
    </div>

    <div class="form_group">
    <%= f.text_field :age, :placeholder => 'YOUR AGE', class: "form-control"%>
    </div>

    <div class="form_group">
    <%= f.text_field :location, :placeholder => 'YOUR CITY AND STATE', class: "form-control" %>
    </div>

    <div class="form_group">
    <%= f.text_area :bio, :placeholder => 'YOUR BIO', class: "form-control"%>
    </div>

    <div class="form-group">
    <%= f.hidden_field(:image_cache)%>
    <%= f.file_field(:image, class: "form-control", :html => { :multiple => true }, id: "exampleInputFile")%>
    <p class="left">Upload Your Profile Photo<small>(Recommended.)</p>
    </div>

    <div class="actions">
    <%= f.submit "CREATE ACCOUNT", class: "submit-button-create, large_button"%>
    </div>
<% end %>
</div>

</ul>
  </div>
</div>


   
    

<!-- this is the user profile photo container  for right column-->
        

<!-- this is the "sign in or sign up forum" -->
<% if current_user %>
    <div class="right_column">

        <ul id="topright_nav">

        <li>
            <%= cl_image_tag(current_user.image,:width => 133, :height => 133, :crop => :fill, class: "user_profile_photo_tag") %>
                <small>Hello, </small>
                  
                  <a><%= link_to "#{current_user.name}", user_profile_path(current_user) %>
                  </a>
                 <!--  <span class="glyphicon glyphicon-cog" aria-hidden="true">
                  </span>
 -->              
              <ul> 
                <li>
                     <a><%= link_to "Your Profile", user_profile_path(current_user)%>
                     </a>
                </li> 
                <li>
                    <a><%= link_to "Edit Account", edit_users_path(current_user) %>
                    </a>
                </li>  
                <li>
                    <a><%= link_to "Log out", destroy_session_path %>
                    </a>
                </li>  
              </ul>
            </li>
        </ul>
        


    <div class="feed_border">
      <hr class = "small_line_break">
        <h5 class="center">YOUR FOOTY™ DASHBOARD</h5>
      </div>
    </div>






<% else %>

<div class="right_column">
    <div class="feed_border">
        <h4 class="left">theFOOTY™app</h4>
        <h2 class="left">ALREADY A MEMBER?</h2>
    </div>
    <div class = "feed_border">
        <h5 class="center">SIGN IN TO YOUR FOOTY ACCOUNT</h5>
        <%= form_for @user, url: create_session_path do |f| %>

        <div class="form_group">
        <%= f.email_field :email, :placeholder => 'EMAIL', class: "form-control" %>
        </div>
    
        <div class="form_group"> 
        <%= f.password_field :password, :placeholder => 'PASSWORD', class: "form-control" %>
        </div>
    
        <%= f.submit "Log in", class: "submit-button-create, large_button" %>
    <% end %>
    </div>
    <h4 class="center">theFOOTY™app</h4>
</div>
    <% end %>





