<!DOCTYPE html>
<html>
<head>
  <title>FOOTY™</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= cloudinary_js_config %>
  
  <link href='https://fonts.googleapis.com/css?family=Michroma' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9fLUHE8EU1Fyodf93hd4qPY1PsJ2rYIs"
  type="text/javascript"></script>
  <script src="http://widget.cloudinary.com/global/all.js" type="text/javascript">  
  </script>


  

</head>

<body class="container-fluid" >
<div>
  <%= image_tag ("FOOTY_logo_2.png"), :class => "footy_logo_img"%> 
</div>

<nav>
  
  <ul id = "my_new_nav">

    <li>
      <div class = "tab" id = "pink"><a class="nav_pad" href="/posts" data-no-turbolink>HOME</a></div>
        <div class = "dropdown_nav">
          <a class="nav_pad" id = "pink" href="/posts" data-no-turbolink>HOME</a>
      </div>
    </li> 
    
    <li>
       <div class = "tab" id = "orange"><a class="nav_pad" href="/users/map" data-no-turbolink>CLASSIFIEDS</a>
       </div>
        <div class = "dropdown_nav">
          <a class="nav_pad" id = "orange" href="/users/map" data-no-turbolink>CLASSIFIEDS</a>
        </div>
    </li>
    
    <li>
      <div class = "tab" id = "blue" href="#"><a class="nav_pad" href="/events" data-no-turbolink>EVENTS</a>
      </div>
      <div class = "dropdown_nav">
          <a class="nav_pad" id = "blue" href="/events" data-no-turbolink>EVENTS</a>
      </div> 
    </li>
    
<% if current_user %>
    <li>
       <div class = "tab" id = "purple" href="#">
         <%= link_to "YOUR ACCOUNT",  user_profile_path(current_user), class: "nav_pad", :id => "purple", 'data-no-turbolink' => true %>
            
       </div>



        <div class = "dropdown_nav">
          <%= link_to "YOUR PROFILE",  user_profile_path(current_user), class: "nav_pad", :id => "purple", 'data-no-turbolink' => true%>
          <%= link_to "EDIT PROFILE",  edit_users_path(current_user), class: "nav_pad", :id => "purple" %>
          <%= link_to "LOG OUT",  user_profile_path(current_user), class: "nav_pad", :id => "purple" %>
        </div>
    </li>
    

<% else %>
    
    <li>
       <div class = "tab" id = "purple" href="#">
       <%= link_to "NEW USER?", new_user_path, class: "nav_pad", :id => "purple" %>
       </div>
        <div class = "dropdown_nav">
        <%= link_to "START FOR FREE", new_user_path, class: "nav_pad", :id => "purple" %>

        </div>
    </li>
  <% end %>
    
    <li>
       <div class = "tab" id = "green" href="#">
        <%= link_to "ABOUT", about_footy_path, class: "nav_pad", :id => "green" %>
       </div>  
          <div class = "dropdown_nav">
            <%= link_to "ABOUT", about_footy_path, class: "nav_pad", :id => "green" %>
          </div>

    </li>

  </ul>
</nav>
<br class = "clear">


<%= yield %>

</body>
</html>